.gender {
	display: flex;
	gap: 10px;
	align-items: flex-end;
}

.gender > div {
	border: 2px solid var(--input-gray);
	border-radius: 16px;
	padding: 0 8px;
	height: 50px;
	display: flex;
	align-items: center;
}
