.cart{
    border:2px solid var(--input-gray);
    border-radius: 16px;
    padding: 16px;
    transition: all .5s;
}
.active{
    border-color: var(--light-green) !important;
}
.cart_header{
    display: flex;
    justify-content: space-between;
}
.action{
    display: flex;
    align-items: self-start;
    gap: 20px;
}
.icon{
    cursor: pointer;
}

.info{
    display: flex;
    gap: 10px;
    align-items: self-start;
}

.title{
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: var(--black);
}

.address{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-top: 4px;
    color: #999999;
}

.badge{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: var(--light-green);
    padding: 3px 8px 4px 8px;
    border-radius: 6px;
    gap: 5px;
    margin-left: 8px;
    transition: all .2s ease;
}

.status{
    display: flex;
    padding: 6px  10px  6px 10px;
    border-radius: 10px;
    gap: 5px;
    background-color: #FFF9E7;
    margin-top: 10px;
    transition: all .2s ease;
}

.status_text{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #D38037;
}
.status_text span{
    font-weight: 600;
}

.show{
    display: inline;
    opacity: 1;
}
.hidden{
    /*display: none;*/
    opacity: 0;
}
.block{
    display: none;
}

@media (max-width: 575px){
    .cart{
        padding: 10px;
    }
    .title, .address{
        font-size: 14px;
        line-height: 18px;
    }
    .badge{
        margin-left: 4px;
        border-radius: 3px;
        padding: 1px 3px;
    }
    .status_text{
        font-size: 12px;
        line-height: 16px;
    }
    .status{
        border-radius: 8px;
        margin-top: 6px;
    }
}


/*for radio input*/

.custom_radio {
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: 2px solid var(--input-gray);
    border-radius: 50%;
}

.custom_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom_radio_button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
}

.custom_radio input:checked + .custom_radio_button {
    background-color: var(--light-green);
}

.custom_radio input:checked + .custom_radio_button:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--light-green);
    /*width: 12px;*/
    /*height: 12px;*/
}
