.btn{
    width: 50px;
    height: 50px;
    display: flex;
    flex-basis: auto;
    align-items: center;
    border-radius: 50%;
    background: none;
    border: 2px solid var(--input-gray);
    cursor: pointer;
    transition: all .2s linear;
    justify-content: center;
}

.icon{
transform: rotate(90deg);
}

.icon path{
    transition: all .2s linear;
}

.next .icon{
    transform: rotate(-90deg);
}

.btn:hover{
    border-color: var(--light-green);
}

.btn:hover .icon path{
    fill: var(--light-green);
}