.promocode {
    padding-top: 22px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1.6px dashed var(--input-gray);
}

.inputWrapper {
    flex-basis: 60%;
    flex-shrink: 0;
}

.btn {
    display: flex;
    flex-basis: 38%;
    align-items: center;
    justify-content: center;
    background: var(--input-gray);
    padding: 14px 0;
    border-radius: var(--default-radius);
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: var(--icon-gray);
    transition: all .2s linear;
}

.btn:hover{
    background: var(--green);
    color: #FFFFFF;
}

.btn:active{
    background: var(--light-green);

}

.btn:disabled {
    background-color: var(--light-gray);
    color: var(--icon-gray);
    cursor: not-allowed;
}

@media(max-width: 575px){
    .promocode{
        padding:14px 0;
        justify-content: space-between;
    }
}