.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 0 20px;
	border-radius: 16px;
	font-weight: 600;
	font-size: 17px;
	transition: all 0.2s ease;
	cursor: pointer;
	border: 1.6px solid transparent;
}

.btn.icon_only {
	padding: 0;
	aspect-ratio: 1 / 1;
}

.btn:disabled {
	background-color: var(--light-gray);
	color: var(--icon-gray);
	border-color: transparent;
	cursor: not-allowed;
}

.btn:active:not(:disabled) {
	box-shadow: 0px 0px 0px 4px #60c78724;
}

.rounded {
	border-radius: 9999px;
}

.full {
	width: 100%;
}

.primary {
	background-color: var(--green);
	color: #fff;
}

.primary:hover {
	background-color: var(--light-green);
}

.secondary {
	background-color: white;
	border: 1.6px solid var(--green);
	color: var(--text-green);
}

.secondary:hover {
	background-color: var(--super-light-green);
}

.tertiary {
	background-color: var(--super-light-green);
	color: var(--green);
}

.tertiary:hover {
	border: 1.6px solid var(--green);
}

.tertiary:active {
	background-color: var(--green);
	color: #fff;
}

.tertiary:active svg path {
	fill: #fff;
	transition: all 0.2s linear;
}

.danger {
	background-color: #ffdede;
	color: var(--red);
}

.spin_wrapper {
	margin-right: 8px;
	display: flex;
	align-items: center;
}

.spin {
	animation: spin 1s linear infinite;
}

.left_icon {
	margin-right: 8px;
	display: flex;
	align-items: center;
}

.right_icon {
	margin-left: 8px;
	display: flex;
	align-items: center;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
