.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.modalContent {
    padding : 30px 24px 40px 24px !important;
    border-radius: 30px !important;
    max-width: 448px !important;
    margin: 0 auto !important;
}

/*icon*/
.icon_message{
    width: 160px;
    height: 140px;
}

/*info*/
.info{
    margin-top: 20px;
    text-align: center;
}
.info_title{
    color: #232323;
    font-size: 20px;
    font-weight: bold;
}

.info_description{
    color:#999999;
    font-size: 16px;
    font-weight: 500;
    margin-top: 4px;
}

@media (max-width: 575px){
    .modalContent{
        padding : 18px !important;
        border-radius: 18px !important;
        max-width: 280px !important;
        margin: 0 auto !important;
    }

    .icon_message{
        width: 125px;
        height: 110px;
    }

    .info{
        margin-top: 20px;
    }

    .info_title{
        font-size: 16px;
    }

    .info_description{
        margin-top: 2px;
        font-size: 14px;
    }
}