.cart {
	margin-bottom: 100px;
}

.wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 46px;
	gap: 10px;
}

.status {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

.detail {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 992px) {
	.wrapper {
		flex-direction: column-reverse;
		margin-top: 32px;
	}
}

@media (max-width: 575px) {
	.wrapper {
		align-items: stretch;
		margin-top: 24px;
	}
	.cart {
		margin-bottom: 30px;
	}

	.status {
		margin-top: 20px;
	}

	.detail {
		gap: 0;
	}
}
