.info {
    margin-top: 14px;
}

.title {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    text-decoration: none;
    margin: 6px 0;
    cursor: pointer;
}

.title:hover{
    color: var(--text-green);
}


@media (max-width: 575px) {
    .title{
        font-size: 14px;
        margin: 3px 0;
    }
}