.swiperItem {
    background: linear-gradient(96deg, rgba(199, 180, 255, 0.60) 14.35%, rgba(151, 217, 231, 0.60) 53.33%, rgba(103, 198, 138, 0.60) 100%), #FFF;
    border-radius: var(--medium-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    flex: 0 0 55%;
    padding: 52px 0 52px 80px;
}

.title{
    color: var(--black);
    font-size: 44px;
    font-weight: 700;
}