.card {
	padding: 16px;
	border: 2px solid var(--input-gray);
	border-radius: 24px;
}

.card:not(:last-child) {
	margin-bottom: 24px;
}

.header {
	display: flex;
}

.header .title {
	flex: 1 1 0;
}

.control {
	display: flex;
	gap: 16px;
}

.btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.header:not(:last-child) {
	margin-bottom: 10px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 4px;
	font-variant-numeric: lining-nums proportional-nums;
}

.badge {
	font-size: 14px;
}

@media (max-width: 575px) {
	.badge {
		font-size: 10px;
		border-radius: 3px;
	}
}

.subtitle {
	font-size: 18px;
	font-weight: 500;
	color: var(--icon-gray);
	margin-bottom: 10px;
}

@media (max-width: 575px) {
	.card {
		padding: 10px;
		border-radius: 12px;
	}

	.main_address {
		border: 1.2px solid var(--light-green);
	}

	.title {
		font-size: 14px;
		gap: 4px;
	}

	.subtitle {
		font-size: 14px;
		font-weight: 400;
		color: var(--icon-gray);
		margin-bottom: 10px;
	}
}
