.obtaining{
    margin-top: 50px;
}
.change_container{
    margin-top: 20px;
    height: min-content;
    transition: all 0.7s;
    overflow: hidden;
}

.status_cart{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

@media (max-width: 575px){
    .obtaining{
        margin-top: 12px;
    }
    .change_container{
        margin-top: 14px;
    }
    .status_cart{
        margin-top: 14px;
        gap: 10px;
    }
}

