.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title {
	font-weight: 700;
	color: var(--black);
}

.clear {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--icon-gray);
}
