.discount {
    background: var(--orange);
    border-radius: 5px;
    padding: 6px 10px 7px;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    position: relative;
}


.discount:before, .discount:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 13px;
    height: 13px;
    display: block;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--light-gray);
}

.discount:before {
    left: -6px;
}

.discount:after {
    right: -6px;
}


@media (max-width: 1199px) {
    .discount{
        bottom: unset;
        top: 8px;
        left: 16px;
    }
}

@media (max-width: 991px) {
    .discount{

        font-size: 10px;
    }
}

@media (max-width: 575px) {
    .discount{
        bottom: unset;
        top: 8px;
        left: 8px;
        font-size: 10px;
    }
}