.price {
    display: flex;
    align-items: center;
    gap: 14px;
}

.discount{
    overflow: hidden;
}

.discount:after, .discount:before {
    background: #FFFFFF;

}

.discountPrice {
    font-size: 24px;
    font-weight: 800;
    color: var(--orange);
}

.noDiscountPrise{
    color:var(--black) !important
}

.actualPrice {
    font-size: 20px;
    font-weight: 500;
    color: var(--icon-gray);
    text-decoration: line-through;
}


@media(max-width: 991px) {
    .discountPrice{
        font-size: 20px;
    }
    .actualPrice{
        font-size: 18px;
    }
}

@media (max-width: 575px) {
    .price{
        gap: 6px;
    }
    .discountPrice{
        font-size: 16px;
    }
    .actualPrice{
        font-size: 12px;
    }
}