.body {
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.body_top {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0 16px 16px 16px;
}

.body_bottom {
	flex: 1 1 0%;
	position: relative;
}

.map_disable {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.form_row {
	display: flex;
	gap: 14px;
	justify-content: space-between;
	flex: 1 1 0;
}

.checkbox_wrapper {
	display: flex;
	align-items: center;
}
