.actions{
    width: 60px;
    margin-right: 60px;
    position: absolute;
    right: 0;
}

.scroll{
    width: 60px;
    height: 60px;
    border:1px solid var(--black);
    border-radius: var(--default-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .4s;
    background-color: #fff;
}

.hide{
    transform: scale(0);
    opacity: 0;
}
.show{
    transform: scale(1);
    opacity: 1;
}

.svg_path{
    transition: all .4s;
}

.scroll:hover{
    border-color: var(--green);
}
.scroll:hover .svg_path{
    fill: var(--green);
}

@media (max-width: 992px){
    .actions{
        margin-right: 30px;
    }
}

@media (max-width: 575px){
    .actions{
        margin-right: 16px;
    }
    .scroll{
        width: 50px;
        height: 50px;
    }
    .scroll svg{
        width: 18px;
        height: 22px;
    }
}