.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	text-decoration: none;
}

.link:hover .text {
	color: var(--green);
}

.link:hover .icon path {
	fill: var(--green);
}

.text {
	font-weight: 500;
	color: var(--black);
	transition: all 0.2s linear;
}

.icon path {
	fill: black;
	transition: all 0.2s linear;
}

.mobile_icon path {
	fill: #c2c2c2;
}

.link.active .text {
	color: var(--green);
}

.link.active path {
	fill: var(--green);
}
