.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	text-decoration: none;
}

.text {
	font-weight: 600;
	color: var(--black);
}

.mobile_icon.active path {
	fill: var(--green);
}
