
.input {
    display: none;
}

.path{
    transition: all .2s linear;
}


.active{
    fill: var(--orange);
}

.error{
    fill:var(--red) !important
}

@media (max-width: 767px) {
    .icon{
        width: 36px;
        height: 36px;
    }
}