.near {
	margin-bottom: 60px;
}

.wrapper {
	margin-top: 20px;
}

.background_products {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
}

@media (max-width: 991px) {
	.background_products {
		grid-template-columns: repeat(3, 1fr);
		overflow: hidden;
	}

	.background_products > *:nth-child(n + 4) {
		display: none;
	}
}

@media (max-width: 767px) {
	.background_products {
		grid-template-columns: repeat(2, 1fr);
		overflow: hidden;
	}

	.background_products > *:nth-child(n + 3) {
		display: none;
	}
}
.wrapperOuter {
	position: relative;
}

.card_wrapper {
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(10px);
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	padding: 20px 24px;
	background-color: white;
	border-radius: 20px;
	width: 348px;
	border: 1.6px solid var(--green);
}

.card_text {
	margin-bottom: 23px;
	font-size: 18px;
	text-align: center;
}

.skeleton_cointainer {
	width: 100%;
	display: flex;
	gap: 10px;
	overflow: hidden;
}

.skeleton {
	height: 350px;
	min-width: 160px;
	max-width: 400px;
	width: 100%;
}
