.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.title {
	color: var(--black);
	font-size: 36px;
	font-weight: 700;
}

.icon_back {
	display: none;
}

@media (max-width: 991px) {
	.header {
		justify-content: center;
		margin-bottom: 0;
		height: 48px;
		position: relative;
	}

	.icon_back {
		position: absolute;
		display: block;
		left: 16px;
		top: 50%;
		transform: translateY(-50%);
	}

	.title {
		font-size: 20px;
	}

	.btn {
		display: none;
	}
}

@media (max-width: 575px) {
	.title {
		font-size: 16px;
	}
}
