.btn {
    background: var(--green);
    border-radius: var(--default-radius);
    padding: 14px 64px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    transition: all .2s linear;
    border: none;
}

.btn:hover {
    background: var(--light-green);
}

.btn:active {
    background: var(--green);
}

.disabled{
    background: var(--light-gray);
    color: var(--dark-grey);
    cursor: not-allowed;
}
.disabled:hover{
    background: var(--light-gray);
}

@media (max-width: 991px) {
    .btn{
        padding: 10px 32px;
    }
}