.btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    gap: 4px;
    font-weight: 600;
    color: var(--black);
}

.sort {
    color: var(--icon-gray);
}

.icon {
    flex-basis: 24px;
    height: 24px;
    display: block;
    transition: all .2s linear;
    transform: rotate(-90deg);
}

.opened {
    transform: rotate(90deg);
}