.delivery {
    border: 2px solid #DADADA;
    padding: 10px 12px 12px;
    border-radius: var(--default-radius);
}

.title, .text {
    font-weight: 500;
}

.title {
    font-size: 16px;
    color: var(--black);
    margin: 6px 0 2px;
}

.text {
    font-size: 14px;
    color: var(--icon-gray);
}

.img{
    width: 22px;
    height: 15px;
}