.list {
   flex-grow: 1;
   flex-basis: 85%;
}


@media (max-width: 992px) {
   .list{
      /*flex: 0 0 67%;*/
      flex-basis: 100%;
   }
}

@media (max-width: 767px) {
   .list{
      flex-basis: 100%;
   }
}