.cashback, .title {
    display: flex;
}

.title {
    color: var(--black);
    font-size: 44px;
    font-weight: 700;
    flex-direction: column;
    margin-bottom: 79px;
}

.cashback {
    align-items: center;
    gap: 12px;
}


@media (max-width: 991px) {
    .title{
        font-size: 38px;
        margin-bottom: 40px;
    }
    .cashback svg{
        width: 100px;
        height: 50px;
    }
}

@media (max-width: 575px) {
    .title{
        font-size: 18px;
    }
}