.cashback, .title {
    display: flex;
}

.title {
    color: var(--black);
    font-size: 44px;
    font-weight: 700;
    flex-direction: column;
    margin-bottom: 79px;
}

.cashback {
    align-items: center;
    gap: 12px;
}


@media (max-width: 991px) {
    .title{
        font-size: 28px;
        margin-bottom: 40px;
    }
    .cashback svg{
        width: 100px;
        height: 40px;
    }
}

@media (max-width: 575px) {
    .title{
        font-size: 14px;
    }
    .cashback{
        gap: 0px;
    }
    .cashback svg{
        width: 60px;
        height: 24px;
    }
}