.title {
	font-size: 4em;
	font-weight: 700;
    position: relative;
    z-index: 1;
}

.cashback {
	display: flex;
	align-items: center;
	gap: 0.2em;
}

.cashback svg {
	width: 4em;
	height: 1.8em;
}
