.address{
    margin-top: 24px;
}

.title{
    color: #232323;
    font-weight: 600;
    font-size: 20px;
}

.address_item{
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.active_address{
    margin-top: 10px;
    border-color: var(--green) !important;
}

@media (max-width: 575px){
    .address{
        margin-top: 12px;
    }
    .title{
        font-size: 14px;
        font-weight: 500;
    }
    .address_item{
        margin-top: 8px;
        gap: 10px;
    }
    .active_address{
        margin-top: 8px;
        border-radius: 12px !important;
    }
}