.swiperItem {
	position: relative;
	background: linear-gradient(
			96deg,
			rgba(199, 180, 255, 0.6) 14.35%,
			rgba(151, 217, 231, 0.6) 53.33%,
			rgba(103, 198, 138, 0.6) 100%
		),
		#fff;
	display: flex;
	border-radius: 30px;
	flex-direction: column;
	aspect-ratio: 3 / 1;
	padding: 52px 80px;
	justify-content: space-between;
	font-size: 12px;
}

.banner_image {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1199px) {
	.swiperItem {
		border-radius: 3vw;
		padding: 2.2vw 4vw;
		font-size: 0.9vw;
	}
}

@media (max-width: 991px) {
	.swiperItem {
		font-size: 0.8vw;
	}
}

@media (max-width: 639px) {
	.swiperItem {
		font-size: 1vw;
	}
}
