.btn {
    display: flex;
    align-items: center;
    border: none;
    border-radius: var(--default-radius);
    background: var(--btn-green);
    padding: 13px 18px;
    cursor: pointer;
}

.text{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    margin-left: 6px;
}

.dropdown{
    width: 282px;
}