.header{
    padding: 18px 0;
}

.wrapper, .nav, .search{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.wrapper{
    gap: 51px;
}

.nav{
    justify-content: space-between;
    flex: 1 0 auto;
    gap: 40px;
}

.search{
    flex: 0 0 50%;
}

.logo{
    display: block;
}