.signup {
	text-align: center;
	margin-top: 12px;
	color: var(--icon-gray);
	font-size: 16px;
	font-weight: 500;
}

.signup a {
	background-color: transparent;
	border: none;
	cursor: pointer;
	color: var(--green);
	font-size: 16px;
	font-weight: 500;
}

.signup a:hover {
	color: var(--light-green);
}
