.layout {
	margin-bottom: 100px;
}

@media (max-width: 575px) {
	.container {
		padding: 0;
		max-width: 100vw;
	}
}

.wrapper {
	display: flex;
	gap: 40px;
}

.sidebar {
	width: 275px;
}

@media (max-width: 991px) {
	.sidebar {
		display: none;
	}
}

.main {
	flex: 1 1 0%;
}

@media (max-width: 575px) {
	.main {
		max-width: 100vw;
	}
}
