.list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}

@media (max-width: 575px) {
	.list {
		gap: 4px;
	}

	.list > li:not(:only-child) > div {
		box-shadow: 0 0 12px var(--input-gray);
	}

	.list > li:not(:only-child):first-child > div {
		box-shadow: 0 2px 4px var(--input-gray);
	}

	.list > li:not(:only-child):last-child > div {
		box-shadow: 0 -2px 4px var(--input-gray);
	}
}
