.btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px 0;
    width: 100%;
}

.icon {
    margin-right: 6px;
}

.text {
    font-size: 16px;
    font-weight: 600;
    color: var(--text-green);
}

.map {
    flex: 0 0 48%;
    height: 400px;
    position: relative;
}

.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    gap: 24px;
}

.form {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
}


.item {
    margin: 30px 0;
}

.itemInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.input {
    border-radius: var(--default-radius);
    border: 1px solid var(--input-gray);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: var(--default-padding);
    transition: all .2s linear;
}

.inputError {
    border-color: var(--red);
}


.submitBtn {
    background: var(--green);
    border-radius: var(--default-radius);
    color: #ffffff;
    border: none;
    font-size: 17px;
    font-weight: 600;
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
}


.submitBtn:hover {
    background: var(--light-green);
}

.submitBtn:active {
    background: var(--green);
}