.description{
    flex-basis: 48%;
}
.weight{
    font-size: 30px;
    font-weight: 700;
}

.text{
    display: flex;align-items: center;
    gap: 12px;
    margin: 12px 0 16px;
}
.skeleton_position{
    margin: 10px 0;
}

.weight{
   color: var(--icon-gray);
}

.text_grey{
    color: #999999 !important;
}


@media (max-width: 991px) {
    .text{
        margin: 10px 0;
    }

    .weight{
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    .description{
        flex-basis: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 575px) {
    .text{
        margin: 5px 0 8px;
    }
    .weight{
        font-size: 16px;
    }
}