.description{
    flex-basis: 48%;
}
.weight{
    font-size: 30px;
    font-weight: 700;
}

.text{
    display: flex;align-items: center;
    gap: 12px;
    margin: 12px 0 16px;
}

.weight{
   color: var(--icon-gray);
}