:root {
    --text-black: #232323;
    --light-gray: #F2F2F2;
    --text-green: #2E9D58;
    --input-gray: #E9E9E9;
    --default-radius: 16px;
    --default-padding: 15px 20px;
    --color-red: #FF6C6C;
    --btn-green: #39B969;
    --icon-gray: #999;
}