:root {
	--black: #232323;
	--light-gray: #f2f2f2;
	--text-green: #2e9d58;
	--input-gray: #e9e9e9;
	--default-radius: 16px;
	--medium-radius: 30px;
	--default-padding: 15px 20px;
	--red: #ff6c6c;
	--green: #39b969;
	--icon-gray: #999;
	--orange: #ef9545;
	--gray: #ededed;
	--middle-gray: #c2c2c2;
	--violet: #767bf9;
	--light-green: #60c787;
	--pale-green: #ecf8f1;
	--dark-gray: #dddddd;
	--default-margin: 30px;
	--mobile-margin: 10px;
	--super-light-green: #cfeedb;
	--checkbox-gray: #dadada;
}
