.page{
    margin: 150px 0 100px;
}

.title{
    margin: 20px 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--black);
}

.wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


@media (max-width: 991px) {
    .title{
        font-size: 26px;
    }
}


@media (max-width: 767px){
    .page{
        margin-bottom: 30px;
    }
    .wrapper{
        flex-wrap: wrap;
        gap: 16px;
    }
    .title{
        font-size: 22px;
        margin: 10px 0;
    }
}

@media (max-width: 575px) {
    .title{
        font-size: 18px;
    }
}