.wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.forms {
	display: flex;
	align-items: start;
	gap: 24px;
}

@media (max-width: 1199px) {
	.wrapper {
		flex-direction: column;
	}

	.forms {
		flex-direction: column;
		align-items: stretch;
	}
}

@media (max-width: 575px) {
	.wrapper {
		align-items: stretch;
	}

	.forms {
		gap: 0;
	}
}
