.actions {
    border-radius: var(--medium-radius);
    height: 330px;
    background: var(--light-gray);
    position: relative;
    display: flex;
    justify-content: center;

}

.img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
}


@media (max-width: 767px) {
    .actions{
        height: 180px;
        border-radius: var(--default-radius);
    }
    .img{
        width: 104px;
        height: 104px;
        margin-top: 26px;
    }
}