.left {
	position: absolute;
	top: 0;
	left: 0;
	padding: 16px;
	height: 100%;
	display: flex;
	align-items: start;
	flex-direction: column;
	gap: 6px;
	text-decoration: none;
}

.discount {
	position: absolute;
	bottom: 16px;
}

.top_right {
	position: absolute;
	top: 16px;
	right: 16px;
}

.actions {
	border-radius: var(--medium-radius);
	height: 330px;
	background: var(--light-gray);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img {
	text-decoration: none;
	cursor: pointer;
	width: 200px;
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 1199px) {
	.discount {
		position: static;
	}
}

@media (max-width: 991px) {
	.left * {
		font-size: 14px;
	}
}

@media (max-width: 767px) {
	.actions {
		height: 180px;
		border-radius: var(--default-radius);
	}
	.img {
		width: 104px;
		height: 104px;
	}
	.left {
		padding: 8px;
	}
	.top_right {
		top: 8px;
		right: 8px;
	}
	.top_right svg {
		width: 28px;
		height: 28px;
	}
}

@media (max-width: 575px) {
	.left {
		gap: 3px;
	}
	.left * {
		font-size: 10px;
	}

	.top_right {
		top: 6px;
		right: 6px;
	}

	.top_right svg {
		width: 24px;
		height: 24px;
	}

	.flag_badge {
		padding: 3px 8px;
	}
}
