.footer{
    flex: 0 0 auto;
    padding: 40px 0 26px;
    background: var(--gray);
}

.wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

