.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-inline: 16px;
}

.image_wrapper {
	margin-bottom: 30px;
}

.text {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 14px;
}

.button {
	color: white;
	background-color: var(--green);
	font-weight: 600;
	font-size: 17px;
	display: flex;
	border: none;
	align-items: center;
	justify-content: center;
	border-radius: var(--default-radius);
	padding: 15px 56px;
	transition: all 0.2s linear;
	cursor: pointer;
	text-wrap: nowrap;
}

.button:hover {
	opacity: 0.8;
}

@media (max-width: 991px) {
	.image_wrapper {
		margin-top: 40px;
	}

	.text {
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.text {
		font-size: 14px;
	}

	.image {
		width: 155px;
		height: 140px;
	}

	.button {
		width: 100%;
	}
}
