.info{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0 50px;
    gap: 30px;
}

@media(max-width: 991px){
    .info{
        gap:20px
    }
}

@media (max-width: 767px) {
    .info{
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .info{
        gap: 36px;
    }
}