.title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}

.card {
	padding: 16px;
	border: 2px solid var(--input-gray);
	border-radius: 24px;
	margin-bottom: 24px;
}

.card_header:not(:last-child) {
	margin-bottom: 10px;
}

.card_title {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 4px;
}

.card_subtitle {
	font-size: 18px;
	font-weight: 500;
	color: var(--icon-gray);
	margin-bottom: 10px;
}

.info {
	display: flex;
	gap: 5px;
	font-weight: 500;
	font-size: 16px;
	background-color: #fff9e7;
	color: #d38037;
	padding: 6px 10px;
	border-radius: 10px;
}

.info span {
	font-weight: 600;
}

.info span svg {
	fill: #d38037;
}

.delivery_card {
	display: flex;
	gap: 30px;
}

.delivery_card .card_header {
	margin-bottom: 20px;
}

.delivery_card > div {
	flex: 1 1 0;
}

.list {
	list-style: none;
}

.list li {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	font-size: 16px;
	font-weight: 500;
	font-variant-numeric: lining-nums proportional-nums;
}

.list li:not(:last-child) {
	margin-bottom: 14px;
}

.list li span {
	flex: 1 1 0;
}

.list li span:first-child {
	color: var(--icon-gray);
}

.list li span:last-child {
	text-align: right;
}

.map {
	border-radius: 14px;
	overflow: hidden;
}
