.title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}

.card {
	padding: 16px;
	border: 2px solid var(--input-gray);
	border-radius: 24px;
}

.card:not(:last-child) {
	margin-bottom: 24px;
}

.card_header:not(:last-child) {
	margin-bottom: 10px;
}

.card_title {
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 4px;
	font-variant-numeric: lining-nums proportional-nums;
}

.card_subtitle {
	font-size: 18px;
	font-weight: 500;
	color: var(--icon-gray);
	margin-bottom: 10px;
}

@media (max-width: 575px) {
	.title {
		font-size: 14px;
		font-weight: 500;
	}

	.card:not(.delivery_card) {
		padding: 10px;
		border: 1.2px solid var(--light-green);
		border-radius: 12px;
	}

	.card:not(:last-child) {
		margin-bottom: 20px;
	}

	.card_title {
		font-size: 14px;
		gap: 4px;
	}

	.card_subtitle {
		font-size: 14px;
		font-weight: 400;
		color: var(--icon-gray);
		margin-bottom: 10px;
	}
}

.delivery_card {
	display: flex;
	gap: 30px;
}

.delivery_card .card_header {
	margin-bottom: 20px;
}

.delivery_card > div {
	flex: 1 1 0;
}

.list {
	list-style: none;
}

.list li {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	font-size: 16px;
	font-weight: 500;
	font-variant-numeric: lining-nums proportional-nums;
}

.list li:not(:last-child) {
	margin-bottom: 14px;
}

.list li span {
	flex: 1 1 0;
}

.list li span:first-child {
	color: var(--icon-gray);
}

.list li span:last-child {
	text-align: right;
}

@media (max-width: 767px) {
	.delivery_card {
		flex-direction: column;
		gap: 20px;
	}
}

@media (max-width: 575px) {
	.list li {
		font-size: 14px;
	}

	.list li:not(:last-child) {
		margin-bottom: 6px;
	}

	.list li span:last-child {
		font-weight: 600;
	}
}

.map {
	border-radius: 14px;
	overflow: hidden;
}
