.feedback {
    border: 2px solid var(--input-gray);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    max-height: 300px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.feedback::-webkit-scrollbar{
    display: none;
}

.info, .header, .point {
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.name, .date {
    font-size: 18px;

}

.name {
    font-weight: 700;
    color: var(--black);
}

.info {
    gap: 12px;
}

.date {
    font-weight: 600;
    color: var(--icon-gray);
}


.point{
    gap: 1px;
}

.star{
    flex-basis: 17px;
    width: 17px;
    height: 17px;
}


.body{
    margin-top: 14px;
}


.message{
    color: var(--black);
    font-size: 16px;
    font-weight: 400;
    word-break: break-word;
}

.images{
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.img{
    width: 100px;
    height: 100px;
    flex-basis: auto;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.answers_box{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 14px;
}

.answer{
    padding:20px;
    background-color: #F7F7F7;
    border-radius: 16px;
}

.answer_name{
    color: var(--text-green);
}

@media (max-width: 991px) {
    .feedback{
        padding: 14px;
    }

    .name, .date{
        font-size: 16px;
    }
    .message{
        font-size: 14px;
    }
}

@media (max-width: 767px) {

    .name, .date{
        font-size: 14px;
    }

    .img{
        width: 80px;
        height: 80px;
    }

    .answers_box{
        margin-left: 20px;
    }
}

@media (max-width: 575px) {
    .answer{
        padding: 14px;
    }
    .answers_box{
        margin-left: 16px;
        margin-top: 10px;
    }
    .images,.body{
        margin-top: 10px;
    }
}