.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    gap: 24px;
}

.btn {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    padding: 8px 0;
    width: 100%;
}

.text{
    color: var(--text-green);
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
}


.map_container{
    width: 100%;
}
.map {
    flex: 0 0 48%;
    height: 490px;
    position: relative;
    z-index: 2;
}

.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
}

.item {
    margin: 30px 0;
}

.itemInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
}


.input {
    border-radius: var(--default-radius);
    border: 1px solid var(--input-gray);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: var(--default-padding);
    transition: all .2s linear;
}

.inputError {
    border-color: var(--red);
}


.btn_send{
    background: var(--light-gray);
    border-radius: var(--default-radius);
    border: none;
    font-weight: 600;
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
    outline: none;
    color: #999999;
}
.btn_send:hover{
    background: var(--light-green);
    color: #fff;
}

.btn_send:active{
    background: var(--green);
}

/*input group*/
.input_group{
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-top: 18px;
}

.checkbox{
    margin-top:42px;
}

.checkbox_text{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: var(--black);
}

.form_responsive{
    display: none;
}

.address_resp{
    margin-top: 20px;
}


@media (max-width: 575px){
    .wrapper{
        flex-direction: column;
    }
    .form{
        display: none;
    }
    .form_responsive{
        display: block;
    }
    .map{
        height: 80vh;
        width: 100%;
    }

}