.mobileApp{
    background: #000000;
    border: 2px solid #000000;
    border-radius: 18px;
    padding: 12px 20px;
    cursor: pointer;
}


@media (max-width: 575px) {
    .mobileApp{
        padding: 4px 7px;
    flex: 0 0 45%;
        display: flex;
        align-items: center;
    }

   .mobileApp svg{
       width: 100px!important;
   }
}