.list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}

.skeleton_container {
	width: 100%;
	display: flex;
	gap: 10px;
	overflow: hidden;
	margin-top: 20px;
}

@media (max-width: 1199px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 575px) {
	.list {
		padding: 0 16px;
	}
}
