.wrapper {
	height: 100%;
}

.body {
	height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.body_top {
	padding: 0 16px 16px 16px;
}

.body_bottom {
	flex: 1 1 0%;
	position: relative;
}

.label_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdown {
	border-top: 1.6px solid var(--light-gray);
	display: none;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s linear;
	background-color: white;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 10;
	list-style: none;
	overflow: auto;
}

.dropdown.active {
	visibility: visible;
	opacity: 1;
}

.dropdown_item {
	padding: 4px 20px;
	cursor: pointer;
	display: flex;
	align-items: center;
	min-height: 42px;
	font-size: 14px;
	font-weight: 500;
}

.dropdown_item:not(:last-child) {
	border-bottom: 1.6px solid var(--light-gray);
}

.icon {
	flex-shrink: 0;
	margin-right: 8px;
}

@media (max-width: 767px) {
	.dropdown {
		display: block;
	}
}
