.input_wrapper {
	position: relative;
}

.formInputTop {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.formInputTop a {
	font-weight: 500;
	font-size: 16px;
	color: var(--text-green);
	line-height: 18.78px;
}

.label {
	font-weight: 500;
	font-size: 16px;
}

.input {
	margin-top: 4px;
	padding: 0 20px;
	height: 50px;
	width: 100%;
	border: 2px solid var(--input-gray);
	border-radius: 16px;
	transition: all 0.2s linear;
	font-size: 16px;
	background-color: transparent;
}

.input:focus ~ .validationBox {
	display: block;
}

.endIcon {
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 888;
	cursor: pointer;
}

.endIcon:hover path {
	fill: var(--text-green);
}

.validationBox {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 99;
	list-style: none;
	background-color: white;
	border: 1.6px solid var(--light-gray);
	box-shadow: 0 3px 6px #d2d2d21a;
	border-radius: 16px;
	transition: all 0.2s ease;
}

.validation {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.validation:not(:last-child) {
	border-bottom: 1.6px solid var(--light-gray);
}
