.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}

.title {
	color: var(--black);
	font-size: 36px;
	font-weight: 700;
}

.icon_back {
	display: none;
}

.logout_btn {
	background-color: #ffeaea;
	color: var(--red);
	font-weight: 600;
	font-size: 17px;
	display: flex;
	align-items: center;
	border: none;
	border-radius: var(--default-radius);
	padding: 15px 75px;
	transition: all 0.2s linear;
	cursor: pointer;
}

@media (max-width: 991px) {
	.header {
		justify-content: center;
		margin-bottom: 0;
		height: 48px;
		position: relative;
	}

	.logout_btn {
		display: none;
	}

	.icon_back {
		position: absolute;
		display: block;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}

	.title {
		font-size: 20px;
	}
}

@media (max-width: 575px) {
	.title {
		font-size: 16px;
	}
}
