.modal_trigger {
	background: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
}
.modal {
	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: space-between;
	position: relative;
	min-height: 400px;
	max-height: 500px;
}

.modal_close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
