.dropdown {
	border-radius: 30px;
}

.modal {
	display: none;
}

@media (max-width: 575px) {
	.dropdown {
		display: none;
	}

	.modal {
		display: block;
	}
}
.add_btn {
	display: flex;
	align-items: center;
	border: none;
	background: none;
	cursor: pointer;
	padding: 8px 0;
	width: 100%;
}

.add_icon {
	margin-right: 6px;
}

.add_text {
	font-size: 16px;
	font-weight: 600;
	color: var(--text-green);
}

.btn {
	display: flex;
	align-items: center;
	background: none;
	border: none;
	cursor: pointer;
}

.text {
	font-weight: 600;
	font-size: 16px;
	color: var(--black);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.svg {
	margin-right: 4px;
}

@media (max-width: 1199px) {
	.btn {
		flex: 0 0 35%;
	}
}

@media (max-width: 767px) {
	.btn {
		flex: 0 0 100%;
	}

	.text {
		font-size: 14px;
	}
}
@media (max-width: 575px) {
	.text {
		max-width: 250px;
	}
}
