.btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    flex: 0 0 40%;
    cursor: pointer;
}

.text {
    font-weight: 600;
    font-size: 16px;
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

.svg {
    margin-right: 4px;
}




@media (max-width: 767px) {
    .btn{
        flex: 0 0 100%;
    }
}