.btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    flex: 0 0 25%;
    cursor: pointer;
}

.text {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black);
    border-bottom: 1px solid var(--text-black);
}

.svg {
    margin-right: 4px;
}