.title {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}

.card {
	padding: 16px;
	border: 2px solid var(--input-gray);
	border-radius: 24px;
	margin-bottom: 14px;
}

.card_header {
	display: flex;
	gap: 10px;
	margin-bottom: 10px;
}

.card_title {
	font-size: 18px;
	font-weight: 600;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 4px;
	font-variant-numeric: lining-nums proportional-nums;
}

.card_subtitle {
	font-size: 16px;
	font-weight: 500;
	color: var(--icon-gray);
	font-variant-numeric: lining-nums proportional-nums;
}

.card_subtitle:not(:last-child) {
	margin-bottom: 5px;
}

.card_subtitle.time {
	display: flex;
	align-items: center;
	gap: 4px;
	font-size: 14px;
}

@media (max-width: 575px) {
	.title {
		font-size: 14px;
		font-weight: 500;
	}

	.card {
		padding: 10px;
		border: 1.2px solid var(--light-green);
		border-radius: 12px;
	}

	.card:not(:last-child) {
		margin-bottom: 20px;
	}

	.card_title {
		font-size: 14px;
		gap: 4px;
	}

	.card_subtitle {
		font-size: 14px;
		font-weight: 400;
		color: var(--icon-gray);
		margin-bottom: 10px;
	}
}
