.card {
	border: 2px solid var(--input-gray);
	border-radius: 20px;
	flex: 1 1 0%;
	padding: 20px;
}

@media (max-width: 575px) {
	.card {
		border: none;
		padding: 16px;
	}
}

.header {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
}

.title {
	font-weight: 700;
	font-size: 18px;
}

.edit_btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.extraData {
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

@media (max-width: 425px) {
	.extraData {
		flex-direction: column;
	}
}

.save_btn {
	padding: 15px 75px;
}

@media (max-width: 575px) {
	.save_btn {
		width: 100%;
	}
}

.save_btn:hover {
	color: var(--text-green);
	background: var(--super-light-green);
}

.save_btn:active {
	opacity: 0.8;
}
