.total {
    flex-basis: 32%;
    border: 2px solid var(--input-gray);
    border-radius: 26px;
    padding: 20px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    color: var(--black);
}

.info {
    margin-top: 18px ;
}

.bordered {
    padding: 14px 0;
    border-bottom: 2px solid var(--light-gray);
    margin-bottom: 18px;
}

.finalPrice p {
    color: var(--text-green);
}

.all_price p {
    font-weight: bold;
    color: var(--text-green);
}

.all_price  h5{
    font-weight: bold;
    color: var(--black);
}

.promo_code{
    color: var(--text-green);
    font-weight: 600;
    padding-left: 6px;
}


.btn{
    background: var(--green);
    padding: 14px 0;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    border-radius: var(--default-radius);
    cursor: pointer;
    transition: all .2s linear;
    margin: 0 auto;
}

.btn:hover {
    background: var(--text-green);
}

.btn:active{
    background: var(--green);
}
.link{
    text-decoration: none;
}

.action{
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media (max-width: 575px) {
    .title{
        font-size: 15px;
    }

    .total{
        border:none;
        flex-basis: 100%;
    }
}

/*recipient total sum*/

.paddingTop{
    padding: 14px 0 0 0;
}
.checkout_btn{
    /*background-color: var( --light-gray);*/
    /*color:var(--icon-gray)*/
}
.checkout_btn:hover{
    color: #fff;
}