.search_box {
	position: relative;
	width: 100%;
	max-width: 450px;
}

@media (max-width: 575px) {
	.search {
		width: 100%;
	}
}

.search_icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
