.modal_trigger {
	cursor: pointer;
}

.modal_content {
	padding: 0px !important;
	border-radius: 26px !important;
	overflow: hidden;
}

.modal_body {
	display: flex;
	height: 400px;
}

@media (max-width: 767px) {
	.modal_body {
		height: 100%;
	}
}
