.modal_container{
    width: 400px;
    border-radius: 26px !important;
}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 272px;
}
.modal_header{
    text-align: center;
}
.title{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: var(--black);
}
.description{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 20px;
}
.description span{
    color: var(--green);
}
.modal_footer{
    display: flex;
    justify-content: space-between;
    gap: 14px;
}

@media (max-width: 575px){
    .modal{
        min-height: 192px;
    }
    .title{
        font-size: 16px;
        line-height: 19px;
    }
    .description{
        font-size: 14px;
        line-height: 18px;
        margin-top: 10px;
    }
}