.wrapper {
	margin: 150px 0 100px;
}

.content {
	display: flex;
	gap: 40px;
}

.content > main {
	flex: 1 1 0;
}

.title {
	font-size: 26px;
	margin-bottom: 24px;
}

.badge {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-color: var(--green);
	color: white;
	font-size: 20px;
	font-weight: 600;
}

.side > *:not(:last-child) {
	margin-bottom: 24px;
}
