
.list{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    row-gap: 30px;
    transition: flex-basis .4s ease-in-out;
    flex-basis: 100%;
}

.short{
    flex-basis: 75%;
}

@media (max-width: 1199px) {
    .short{
        flex-basis: 62%;
    }
}

@media (max-width: 767px) {
    .short{
        flex-basis: 100%;
    }
}

@media (max-width: 575px) {
    .list{
        row-gap: 10px;
    }
}

