
.product_list{
    display: flex;
    flex-direction: column;
    transition: flex-basis .4s ease-in-out;
    flex-basis: 100%;
}

.list{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 30px;
    transition: flex-basis .4s ease-in-out;
    flex-basis: 100%;
}

.short{
    flex-basis: 75%;
}

.skeleton{
    flex-basis: 24%;
    height: 350px;
    min-width: 160px;
    max-width: 400px;
    width: 100%;
}
.skeleton_short{
    flex-basis: 32%;
}


.no_data{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-weight: 500;
    font-size: 28px;
}

.pagination{
    margin-top: 60px;
}


@media (max-width: 1199px) {
    .short,.skeleton_short{
        flex-basis: 62%;
    }
}

@media (max-width: 992px){
    .short,.skeleton_short{
        width: 100%;
        flex-basis: 100%;
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .list{
        column-gap: 8px ;
    }
    /*.short,.skeleton_short{*/
    /*    flex-basis: 100%;*/
    /*}*/
    .skeleton{
        height: 300px;
    }
}

@media (max-width: 575px) {
    .list{
        row-gap: 10px;
        column-gap: 10px;
    }
    .skeleton{
        height: 180px;
    }

    .no_data{
        font-size: 20px;
        height: 40vh;
    }
    .pagination{
        margin-top: 30px;
    }
}

