.product {
    flex: 0 0 24%;
    transition: all .2s linear;
}

.short{
    flex: 0 0 32%;
}

@media (max-width: 992px) {
    .notSwiper {
        flex: 0 0 32%;
    }
}

@media (max-width: 768px) {
    .notSwiper {
        flex: 0 0 48%;
    }
}