.item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.img {
    flex: 0 0 18px;
    margin-right: 6px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-black);
}