.menuItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.badge {
	background: var(--green);
	border-color: transparent;
}

.icon {
	position: relative;
}

.mobile_icon svg path {
	fill: var(--middle-gray) !important;
	width: 28px;
	height: 28px;
}

.mobile_icon svg path {
	fill: var(--middle-gray) !important;
	width: 28px;
	height: 28px;
}

.icon svg path {
	transition: all 0.2s linear;
}

.active svg path,
.menuItem:hover svg path {
	fill: var(--green) !important;
}

.text {
	color: var(--black);
	font-weight: 500;
	transition: all 0.2s linear;
	font-size: 16px;
}

.active .text,
.menuItem:hover .text {
	color: var(--green);
}
