.wrapper {
	position: relative;
}

.swiper {
	opacity: 0;
	transition: all 0.8s linear;
	visibility: hidden;
	cursor: grab;
}

.show {
	opacity: 1;
	visibility: visible;
}

.skeleton {
	width: 100%;
	aspect-ratio: 3 / 1;
	border-radius: 3vw;
}

@media (max-width: 575px){
	.skeleton{
		aspect-ratio: 2;
	}
}

