.card {
	padding: 16px;
	border: 2px solid var(--input-gray);
	border-radius: 24px;
}

@media (max-width: 575px) {
	.card {
		border: none;
		border-radius: 14px;
		box-shadow: 0 0 12px var(--input-gray);
	}

	.card:first-child {
		box-shadow: 0 2px 4px var(--input-gray);
	}
}

.card_header {
	margin-bottom: 10px;
}

.card_title {
	font-size: 24px;
	margin-bottom: 18px;
}

.list {
	list-style: none;
}

.list li {
	display: flex;
	justify-content: space-between;
	gap: 8px;
	font-size: 18px;
	font-weight: 600;
	font-variant-numeric: lining-nums proportional-nums;
}

.list > li:not(:last-child) {
	margin-bottom: 14px;
}

.list > li > span:first-child {
	color: var(--icon-gray);
}

.list > .mobile {
	display: none;
}

@media (max-width: 575px) {
	.card_title {
		font-size: 15px;
		margin-bottom: 12px;
	}

	.list > li {
		font-size: 14px;
	}

	.list > li > span:first-child {
		font-weight: 500;
	}

	.list > li:not(:last-child) {
		margin-bottom: 6px;
	}

	.list > .mobile {
		display: flex;
	}
}
