.wrapper, .thumbnail{
    max-height: 540px;
}

.wrapper{
    position: sticky;
    top: 150px;
    flex-basis: 50%;
    display: flex;
    align-items: stretch;
    gap: 12px;
    transition: all .5s ease-in-out;
    opacity: 0;
}

.thumbnail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-basis: 30%;
}

.show{
    opacity: 1;
}

.skeleton_container{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.skeleton{
   height: 600px;
   width: 620px;
}

@media(max-width: 1325px){
    .skeleton{
        width: 580px;
        height: 550px;
    }
}

@media (max-width: 1200px){
    .skeleton{
        width: 460px;
        height: 480px;
    }
}

@media (max-width: 991px) {
    .wrapper{
        flex-direction: column;
        max-height: 450px;
    }
    .thumbnail{
        display: none;
    }
    .skeleton{
        width: 360px;
        height: 420px;
    }
}



@media (max-width: 767px) {
    .wrapper{
        flex-basis: 100%;
        position: static;
    }
    .skeleton{
        width: 570px;
    }
}

@media (max-width: 575px) {
    .wrapper{
        max-height: 300px;
    }
    .skeleton_container{
        width: 100%;
    }
    .skeleton{
        width: 100%;
        margin: 0 auto;
        height: 320px;
    }
}