.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.label, .value {
    font-size: 18px;
}

.label {
    font-weight: 500;
    flex-basis: 60%;
    color: var(--icon-gray);
}


.value {
    font-weight: 600;
    color: var(--black);
}

@media (max-width: 575px) {
    .label, .value{
        font-size: 14px;
    }
}