.wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    gap: 24px;
}

.modalContent {
    padding: 24px !important;
    border-radius: 30px !important;
}

.form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    color: var(--black);
}

.nameMarket {
    color: var(--text-green);
    font-weight: 500;
    font-size: 18px;
}

.form_description {
    color: var(--black);
    font-weight: 500;
    font-size: 16px;
}

.item {
    margin-top: 16px;
}

.itemInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map_container{
    position: relative;
    width: 100%;
}

.map {
    flex: 0 0 48%;
    height: 425px;
    position: relative;
    z-index: 2;
}

.pin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.loader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    flex: 0 0 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    border-radius: var(--default-radius);
    border: 1px solid var(--input-gray);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: var(--default-padding);
    transition: all .2s linear;
}

.inputError {
    border-color: var(--red);
}


.btn_send{
    background: var(--light-gray);
    border-radius: var(--default-radius);
    border: none;
    font-weight: 600;
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    transition: all .2s linear;
    outline: none;
    color: #999999;
}
.btn_send:hover{
    background: var(--light-green);
    color: #fff;
}

.btn_send:active{
    background: var(--green);
}

.form_responsive{
    display: none;
    background-color: white;
    border-radius: 20px;
}

.address_resp{
    margin-top: 20px;
}


@media (max-width: 575px){
    .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form{
        display: none;
    }

    .form_responsive{
        display: block;
    }

    .map_container {
        width: 100% !important;
    }
    .map{
        height: 80vh;
        width: 100% !important;
    }

    .form_description {
        font-size: 14px;
    }

    .nameMarket{
        font-size: 14px;
    }

}