.content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main {
	flex: 1 0 auto;
	min-height: 75vh;
	z-index: 1;
}

.mobile_navbar {
	position: sticky;
	width: 100%;
	bottom: 0;
	display: none;
	z-index: 2;
}

@media (max-width: 1199px) {
	.mobile_navbar {
		display: block;
	}
}

